@import './base.css';

#app {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    padding: 2rem 1rem;
    font-weight: normal;
    background-color: #141416;
    overflow-x: hidden;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}


@media (min-width: 992px) {
    #app {
        padding: 3rem 5rem;
    }
}

@media (min-width: 1200px) {
    #app {
        padding: 12.25rem 11.688rem;
    }
}